/* Global */
body, html{
    font-family: "Oswald", sans-serif !important;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://images.unsplash.com/photo-1527153818091-1a9638521e2a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5fce4ce8856a711cc50a14e03e58783a&auto=format&fit=crop&w=2058&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
html{
    margin-top: 100px;
}

.story-hr1{
    background-color: #9d1e2f;
    font-size: 3px;
    width: 100%;
    margin-top: 80px;
}
.story-hr2{
    background-color: #9d1e2f;
    font-size: 3px;
    width: 100%;
    margin-top: 25px;
}
.paragraph-main::first-letter {
        font-size: 200%;
        color: Black;
        font-weight: bold;
}

.container-first{
    background-color: white;
    width:85%;
    margin: 0 auto 50px auto;
    border-radius: 3px;
}
/*The end of the page settings*/

/*content-header*/

.content-header{
    padding: 20px;
    width: 100%;
}

.content-header span:nth-of-type(1){
    color: #9d1e2f;
    margin-bottom:  20px;
    font-size: 20px;
}
.content-header span:nth-of-type(2){
    font-family: 'Cabin', sans-serif;
    font-size: 60px;
    line-height: 100%;
}
.content-header span:nth-of-type(3){
    
    font-style: italic;
    font-size: 15px;
}

/*content-header*/


/*MAIN FIRST CONTAINER */

.photozone{
    background-image: url('images/img5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    
}

.mainline{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/*LEFT PART - FIRST CONTAINER*/
.wordzone{
    text-align: justify;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    grid-column: span 3;
    border-right: 1px solid #e5e5e5;
    
}

.wordzone-img{
    margin: 10px auto;
    width: 100%;
    height: auto;
}
#wordzone-img1{
    width: 100%;
    height: auto;
}
#img1-desc{
    font-size: 13px;
    color: #747474;
    text-align: justify;
}

/*RIGHT PART - FIRST CONTAINER*/
.partzone{
    grid-column: span 1;
    padding: 0 20px 0 20px;

}

/*REFZONE - AN EXTENDED ONE OF THE LEFT PART FROM CONTAINER 1*/

.partzone-content{
    height: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,1fr);
    grid-row-gap: 5px;
}

.link-to{
    grid-column: span 1;
    grid-row: span 1;
    background-color: black;
    position: relative;
}

.link-to a{
    text-decoration: none;
    color: white !important;
}

#ref-text-left{
    font-size: 13px;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;

}


.credit{
    text-align: center;
}

.credit-pict{
    margin: 10px auto;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: 0;

}

.credit-pict span{
    width: 100%;
    padding: 10px;
    background: linear-gradient(#9d1e2f,#9d1e6f);
    color: white;
    text-align: center;
    font-size: 1.2em;
    z-index: 2;
    
    opacity: 0;
    transition: 1s;
}
.cover{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border:solid 7px rgba(255,255,255,0.4);
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    z-index: 1; 
    opacity: 0;
    transition: 1s;
}



/* Media Queries */

/*GLOBAL MEDIA QUERY BEFORE 1024*/

@media(max-width:1200px){
    .content-header span:nth-of-type(1){
        font-size: 20px;
    }
    .content-header span:nth-of-type(2){
        font-size: 35px;
    }
    .mainline{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .wordzone{
        grid-column: span 1;
        border: 0px;
    }
    .partzone{
        grid-column: span 1;
    }
    .partzone-content{
        display: grid;
        grid-column-gap: 5px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 600px;
    }
    .link-to1{
        grid-column: 1;
        grid-row: 1/4;
    }
    .link-to2{
        grid-column: 1;
        grid-row: 4/7;
    }
    .link-to3{
        grid-column: span 1;
        grid-row: span 2;
    }
    .link-to4{
        grid-column: span 1;
        grid-row: span 2;
    }
    .link-to5{
        grid-column: span 1;
        grid-row: span 2;
    }
    
    

}

@media(max-width:550px){
    .container-first{
        width: 95%;
        font-size: 0.8em;
    }
    
    .photozone{
        height: 300px;
    }
    .partzone-content{
        display: grid;
        grid-column-gap: 5px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        height: 600px;
    }
    .link-to1{
        grid-column: span 1;
        grid-row: span 1;
    }
    .link-to2{
        grid-column: span 1;
        grid-row: span 1;
    }
    .link-to3{
        grid-column: span 1;
        grid-row: span 1;
    }
    .link-to4{
        grid-column: span 1;
        grid-row: span 1;
    }
    .link-to5{
        grid-column: span 1;
        grid-row: span 1;
    }
    .content-header span:nth-of-type(1){
        font-size: 12px;
    }
    .content-header span:nth-of-type(2){
        font-size: 30px;
        line-height: 100%;
    }
    .content-header span:nth-of-type(3){
        font-size: 12px;
    }
}

